    <!-- How It Works -->
    <section id="how-it-works" class="section bg-blue-pattern">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="headline">
                        <h1>Venture Cannabis &trade;</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
  <div class="well well-lg vc-box">
  <h3 class="title"> Venture Cannabis ™</h3><!-- Step Title -->
  <p>Reality Television Series | <strong>Length:</strong> 1 Hour</p>
  <p class="desc">Venture Cannabis follows two Serial Entrepreneurs (James and Timothy) as they chase their dream of creating the first billion-dollar tech comppany in Cannabis (GreenSTOP).</p>
  <p><strong>Creator:</strong> James Edwards &amp; Timothy Island. </br>
  <strong>Directed by:</strong> Darien F. Rodriguez and special thanks to everyone who made this happen.</p>
  <h6>Subscribe to our Youtube Channel <a style="color:#000000;" href="https://www.youtube.com/channel/UCR3QA6363O7SU0qekowmSmA"><strong><u>Here</u></strong></a> to learn more and watch more clips today.</h6>
  </div>
</div>
      <div class="col-md-7 text-center">
      <div class="vc-box">
          <img src="img/gs_titlecardGIF.gif" height="450px" class="img-responsive" alt="" title="">
          <br>
          <h4>Coming Soon to A Network Near You</h4><!-- Step Title -->
          <h5>For more information or a press kit please contact us</h5>
          <a href="venturecannabis.html" class="btn bg-dark btn-big">Inquire Here</a>
      </div>
      </div>
      </div>
        </div>
    </div>
</section>
    <!-- End How it Works -->