<!-- Portfolio -->
  <section id="portfolio" class="section bg-grey arrow-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="headline">
          <h2>Our Work</h2>
          <p>As mentioned in </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3">
        <!-- Start Portfolio Item -->
        <div class="hover-details">
          <img class="img-responsive img-thumbnail" src="img/thumb.png" alt="" title="" /><!-- Image Thumbnail  -->
          <div class="img-cover">
            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
            <h3>Item Description</h3><!-- Image Description  -->
          </div>
        </div>
        <!-- End Portfolio Item  -->
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <!-- Start Portfolio Item -->
        <div class="hover-details">
          <img class="img-responsive img-thumbnail" src="img/thumb.png" alt="" title="" /><!-- Image Thumbnail  -->
          <div class="img-cover">
            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
            <h3>Item Description</h3><!-- Image Description  -->
          </div>
        </div>
        <!-- End Portfolio Item  -->
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <!-- Start Portfolio Item -->
        <div class="hover-details">
          <img class="img-responsive img-thumbnail" src="img/thumb.png" alt="" title="" /><!-- Image Thumbnail  -->
          <div class="img-cover">
            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
            <h3>Item Description</h3><!-- Image Description  -->
          </div>
        </div>
        <!-- End Portfolio Item  -->
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <!-- Start Portfolio Item -->
        <div class="hover-details">
          <img class="img-responsive img-thumbnail" src="img/thumb.png" alt="" title="" /><!-- Image Thumbnail  -->
          <div class="img-cover">
            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
            <h3>Item Description</h3><!-- Image Description  -->
          </div>
        </div>
        <!-- End Portfolio Item  -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3">
        <!-- Start Portfolio Item -->
        <div class="hover-details">
          <img class="img-responsive img-thumbnail" src="img/thumb.png" alt="" title="" /><!-- Image Thumbnail  -->
          <div class="img-cover">
            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
            <h3>Item Description</h3><!-- Image Description  -->
          </div>
        </div>
        <!-- End Portfolio Item  -->
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <!-- Start Portfolio Item -->
        <div class="hover-details">
          <img class="img-responsive img-thumbnail" src="img/thumb.png" alt="" title="" /><!-- Image Thumbnail  -->
          <div class="img-cover">
            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
            <h3>Item Description</h3><!-- Image Description  -->
          </div>
        </div>
        <!-- End Portfolio Item  -->
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <!-- Start Portfolio Item -->
        <div class="hover-details">
          <img class="img-responsive img-thumbnail" src="img/thumb.png" alt="" title="" /><!-- Image Thumbnail  -->
          <div class="img-cover">
            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
            <h3>Item Description</h3><!-- Image Description  -->
          </div>
        </div>
        <!-- End Portfolio Item  -->
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <!-- Start Portfolio Item -->
        <div class="hover-details">
          <img class="img-responsive img-thumbnail" src="img/thumb.png" alt="" title="" /><!-- Image Thumbnail  -->
          <div class="img-cover">
            <a href="img/thumb.png" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
            <h3>Item Description</h3><!-- Image Description  -->
          </div>
        </div>
        <!-- End Portfolio Item  -->
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio -->

<!-- Footer Top -->
<section class="footer footer-top">
  <div class="container">
    <div class="row">
      <!-- Footer Intro  -->
      <div class="col-md-4">
        <h3>Greenstop</h3>
        <p>GreenSTOP is a two prong solution to major problems in the growing legal cannabis industry. The GreenSTOP umbrella will bring branding and technology to an industry that is growing fast but is in desperate need of some corner stone companies.</p>
        <p>GreenSTOP™ is the next generation automated cannabis smart dispensary.</p>
      </div>
      <!-- End Footer Intro  -->
      <!-- Contact Details  -->
      <div class="col-md-3">
        <div class="contact-info">
          <h3>Reach Us</h3>
          <ul class="contact-list">
            <li><i class="icon-directions"></i> Redondo Beach, CA</li>
            <li><i class="icon-call-in"></i> + 230 5 8268494</li>
            <li><i class="icon-envelope-open"></i><a href="mailto:contact@greenstop.us">timothy@greenstop.us</a></li>
          </ul>
        </div>
      </div>
      <!-- End Contact Details  -->
      <!-- Quick Links -->
      <div class="col-md-2">
        <h3>Quick Links</h3>
        <ul class="quick-links">
          <li><a href="#">Media Coverage</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="invest.html">Investor Relations</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <!-- End Quick links -->
      <!-- Social Links -->
      <div class="col-sm-3">
        <h3>Stay in Touch!</h3>
        <p>Follow us on our social networks!</p>
        <ul class="social">
          <li class="facebook"> <a href="https://www.facebook.com/venturecann"> <i class="fa fa-facebook"></i> </a> </li>
          <li class="twitter"> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
          <li class="linkedin"> <a href="https://www.instagram.com/VentureCannabis"> <i class="fa fa-instagram"></i> </a> </li>
          <li class="youtube"> <a href="https://www.youtube.com/channel/UCR3QA6363O7SU0qekowmSmA"> <i class="fa fa-youtube-play"></i> </a> </li>
        </ul>
      </div>
      <!--End Social Links  -->
    </div>
  </div>
</section>
<!-- End Footer Top -->
