<!-- How It Works -->
    <section id="tech" class="section white-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="headline">
                        <h1>Smart Dispensary</h1>
                        <div class="row">
                            <div class="col-lg-6 col-md-offset-3">
                                <h5 style="text-align: left;">&quot;The Smart Dispensary!&quot; GreenSTOP offers a two prong solution to
                                problems in today's legal cannabis industry. GreenSTOP utilizes an
                                in store Automated Cannabis Dispensary (ACD) system and
                                revolutionary mobile app that work together to make purchasing
                                cannabis more reliable and convenient than ever before!
                                The in store pick up and home delivery experience for consumers will never be the same. </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="img/kioskpic.png" style="width: 350px;" class="img-responsive" alt="" title="">
                </div>
                <div class="col-md-3">
                    <h2 style="font-weight:100;">ACD</h2>
                    <h6>The GreenSTOP ACD Automated Cannabis Dispensary is the first
                    of its kind and its functionality has never before been seen in any
                    industry. <a href="#ACDModal" role="button" data-toggle="modal">(Learn more)</a></h6>
                    <ul class="feats-list">
                        <li><i class="fa fa-check"></i>3D Viewing </li>
                        <li><i class="fa fa-check"></i>Pre-Order/Pick-Up</li>
                        <li><i class="fa fa-check"></i>Video Chat with Agent</li>
                    </ul>
                    <h6>*World's Most Innovative Kiosk Premieres on Venture Cannabis &trade; this Season</h6>
                </div>
                <div class="col-md-3">
                    <img src="img/iphonehand.png" class="img-responsive" alt="" title="">
                </div>
                <div class="col-md-3">
                    <h2 style="font-weight:100;">Mobile App</h2>
                    <h6>The GreenSTOP mobile app will bring the most
                    convenient cannabis delivery platform ever introduced to the
                    cannabis industry.<a href="#mobileModal" role="button" data-toggle="modal">(Learn more)</a></h6>
                    <ul class="feats-list">
                        <li><i class="fa fa-check"></i>Pre-Screen/Pre-Order</li>
                        <li><i class="fa fa-check"></i>Instant Pick-Up at Kiosk</li>
                        <li><i class="fa fa-check"></i>30 min Delivery Guarantee</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="col-md-12 text-center paddingtop-40">
                <h5>Legal cannabis shops inquire here about upgrading your shop to the Smart Dispensary!</h5>
                <a href="smart-dispensary.html" class="btn btn-theme btn-big">Get Started</a>
            </div>
        </div>
    </section>
    <!-- How It Works -->