<section id="subscribe" class="section bg-blue-pattern">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="join">
					<p><strong>Join</strong> our team!</p>
					<h5 class="subline">Greenstop is actively searching for.. </h5>
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
								<ul class="jobs-list">
									<li>Engineers/Designers</li>
									<li>Executive Management</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="jobs-list">
									<li>Testing Facilities</li>
									<li> Cultivators</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="jobs-list">
									<li>Manufacturers</li>
									<li>Licensed Shops</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="jobs-list">
									<li>Social Media/Marketing</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="jobs-list">
									<li>Retail</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="jobs-list">
									<li>Legal Consultants</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<ul class="jobs-list">
									<li>Personal Assistants</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<a href="join.html" class="btn bg-grey btn-big">Get Started</a>
			</div>
		</div>
	</div>
</section>